extends ../layouts/index

block content
    .container
        .auth
            .row
                .col.s6.offset-s3
                    if (error.length)
                        .card-panel.red.white-text #{error}
                    h3.mb-6 Задать новый пароль
                    form(action='/auth/password', method='POST')
                        input(type="hidden" name="_csrf" value=csrf)
                        input(type="hidden" name="token" value=token)
                        input(type="hidden" name="userId" value=userId)
                        .input-field
                            input#password.validate(required='', name='password', type='text')
                            label(for='password') Новый пароль
                            span.helper-text(data-error='Введите новый пароль')
                        div
                            button.btn.btn-primary(type='submit') Сохранить
