nav
    .nav-wrapper
        a.brand-logo(href='/') Courses App
        ul#nav-mobile.right.hide-on-med-and-down
            -
                var items = [{name: 'Главная', link: '/'}, {name: 'Курсы', link: '/courses'}, {name: 'Добавить курс', link: '/courses/add'}, {name: 'Корзина', link: '/card'}]
            each i in items
                li
                    a(href=`${i.link}`) #{i.name}
