<h3>Добавить курс</h3>
<form action="/courses/add" method="post" class="col s12">
    <div class="row">
        <div class="input-field col s6">
            <input required name="title" id="first_name" type="text" class="validate">
            <label for="first_name">Название курса</label>
            <span class="helper-text" data-error="Введите название курса"></span>
        </div>
        <div class="input-field col s6">
            <input required name="price" id="price" type="text" class="validate">
            <label for="price">Цена курса</label>
            <span class="helper-text" data-error="Введите цену курса"></span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input required name="url" id="image" type="text" class="validate">
            <label for="image">URL картинки</label>
            <span class="helper-text" data-error="Введите URL картинки"></span>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
</form>
