<h3>Страница курса</h3>
<div class="mb-3">
    <a href="/courses">Назад</a>
</div>
<div class="course">
    <div class="course__title">
        Курс {{course.title}}
    </div>
    <div class="course__price">
        Стомость: <span class="price">{{course.price}}</span>
    </div>
    <div class="course__image">
        <img src="{{course.img}}" alt="">
    </div>
</div>
